.card-text {
  width: 300px;
}

.card {
  color: white;
}

.passwordCancel {
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.passwordValidate {
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

i {
  cursor: pointer;
}

i:active {
  color: blue;
}
