<div
  [formGroup]="updateProfil"
  class="card bg-dark mb-3 container"
  style="max-width: 25rem"
>
  <div class="card-header text-center" style="font-size: 2em">
    {{ currentUser.username }}
  </div>
  <div class="card-body">
    <div class="card-text password" [formGroup]="updPassword">
      Password :
      <i class="fa fa-edit" (click)="updatingPassword()"></i>
      <div class="password" *ngIf="updating">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="username"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-danger passwordCancel"
          (click)="updatingPassword()"
          *ngIf="updating"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary passwordValidate"
          (click)="updatePassword()"
          [disabled]="updPassword.invalid"
          *ngIf="updating"
        >
          Validate Password
        </button>
      </div>
    </div>

    <p class="card-text">
      Mail :<input
        formControlName="mail"
        type="text"
        class="form-control"
        id="mail"
        placeholder="{{ currentUser.mail }}"
        required=""
      />
    </p>
    <p class="card-text">
      Description :<input
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
        placeholder="{{ currentUser.description }}"
        required=""
      />
    </p>
    <p class="card-text">
      Twitch Account :<input
        formControlName="twitch"
        type="text"
        class="form-control"
        id="twitch"
        placeholder="{{ currentUser.twitch }}"
        required=""
      />
    </p>
    <p class="card-text mb-3">
      Youtube Account :<input
        formControlName="youtube"
        type="text"
        class="form-control"
        id="youtube"
        placeholder="{{ currentUser.youtube }}"
        required=""
      />
    </p>
    <div class="text-center">
      <button (click)="updateUser()" class="btn btn-primary" type="submit">
        Update
      </button>
    </div>
  </div>
</div>
