<div [formGroup]="registerForm" class="container">
  <h1 class="mb-3">Register</h1>
  <div class="mb-3">
    <label for="username">Username</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input
        formControlName="username"
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
        required=""
      />
      <div class="invalid-feedback" style="width: 100%">
        Your username is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password">Password<span class="text-muted"></span></label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
    />
    <div class="invalid-feedback">
      Please enter a valid username and password to connect.
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email <span class="text-muted"></span></label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
      placeholder="you@example.com"
    />
    <div class="invalid-feedback">
      Please enter a valid email address for shipping updates.
    </div>
  </div>

  <button
    [disabled]="registerForm.invalid"
    (click)="registerUser()"
    class="btn btn-primary btn-lg btn-block"
    type="submit"
  >
    Register
  </button>
</div>
