<div class="main_CS">
    <h1>Run verification</h1>

    <label for="challenge/tornament-run">Tournament or challenge :</label>
    <input type="search" id="challenge/tornament-run" placeholder="Tournament or challenge...">

<!--   <div class="preview_run">
        <div class="preview_run-title">Nom de la run</div>
        <div class="preview_run-video">
            <iframe width="600" height="400" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <div class="preview_run-information">
            <p class="preview_run-text">Compte : {{ }}</p>
            <p class="preview_run-text">Timer : {{ }}</p>
        </div>
        <div class="validation_run">
            <input type="button" value="accepted">
            <input type="button" value="refuse">
        </div>
    </div>
    -->
    <div class="list_run">
        <div class="row" *ngFor="let user of players">
            <div class="preview_run col-6">
                <div class="preview_run-title">Nom de la run</div>
                <div class="preview_run-video">
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
                <div class="preview_run-information">
                    <p class="preview_run-text">Compte : banane</p>
                    <p class="preview_run-text">Timer : banane</p>
                </div>
                <div class="validation_run">
                    <input type="button" value="accepted">
                    <input type="button" value="refuse">
                </div>
            </div>
            <div class="list_run-information col-6">
                <p class="list_run-text">Compte : user.username</p>
                <p class="list_run-text">Timer : user.timer</p>
            </div>
        </div>
    </div>

</div>