<!-- Footer à rajouter ici, on fixera en bas de page avec du css etc.. -->
<!-- Site footer -->
<footer class="site-footer footer rounded border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          KOTS.com <i>King of the Speedrun</i> is an initiative to help the
          gamers who wants to fight others speedrunners. KOTS d d d d d d d d d
          d d d d d d d.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Test</a></li>
          <li>
            <a href="">Test</a>
          </li>
          <li>
            <a href="">Test</a>
          </li>
          <li>
            <a href="">Test</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li>
            <a href="">Test</a>
          </li>
          <li>
            <a href="">Test</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Sigma</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href=" https://www.facebook.com/King-Of-The-Speedrun"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/OfSpeedrun"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a class="twitch" href=" https://www.twitch.tv/kingofthespeedrun"
              ><i class="fa fa-twitch"></i
            ></a>
          </li>
          <li>
            <a
              class="youtube"
              href="https://www.youtube.com/channel/UCwcwFeQ3pBejW_k8s-w6h7Q"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
