<div class="container tools card" id="pageContent">
  <div id="tools">
    <div id="tools_left">
      <h1>Streaming Software</h1>

      <p>
        <a href="http://www.xsplit.com/">XSplit</a> — Useful "all in one" stream
        software that connects to your Twitch account.
      </p>

      <p>
        <a href="http://obsproject.com/">Open Broadcaster Software</a> — Open
        Broadcaster Software is free and open source software for recording and
        live streaming. Source code is available to everyone to contribute and
        improve.
      </p>

      <p>
        <a href="http://www.ffsplit.com/">FFsplit</a> — Another free XSplit
        alternative.
      </p>

      <p>
        <a
          href="http://www.adobe.com/products/flashmediaserver/flashmediaencoder/"
          >FMLE</a
        >
        — Alternative to XSplit, harder to use. If you're using FMLE you may be
        interested also using
        <a href="http://mosax.sakura.ne.jp/fswiki.cgi?page=SCFH+DSF">SCFH DSF</a
        >, which is used usually in tandem with FMLE to stream a screen region.
      </p>

      <h1>Video Capture Software</h1>

      <p>
        <a href="http://www.amarectv.com/download_amarectv.htm">AmaRecTV</a>
        — Video capture &amp; preview. The AmaRec codec has a watermark but you
        can use any codec such as
        <a href="http://lags.leetcode.net/codec.html">LAGS</a>. Using AmaRecTV
        as a video source for streaming works well and enables lossless video
        capture and streaming simultaneously. Highly recommended over Pinnacle
        if you use a Dazzle. Click the first link on the page to download.
      </p>

      <h1>Timers</h1>

      <p>
        <a href="http://cdn.speedrunslive.com/tools/WSplit_1.5.2.zip">WSplit</a>
        — Very awesome timer that tracks how far ahead or behind you are of set
        checkpoints. Lots of new options for image support, color customization,
        etc. Created by Wodanaz of SDA and currently maintained by Nitrofski.
      </p>

      <p>
        <a href="http://jenmaarai.com/llanfair/">Llanfair</a> — New alternative
        to WSplit.
      </p>

      <p>
        <a href="http://livesplit.org/downloads/">LiveSplit</a> — A sleek highly
        customizable timer for speedrunners. Supports SRL racing and split
        comparisons.
      </p>

      <p>
        <a href="http://cdn.speedrunslive.com/tools/BKST%20LapTool%20Eng1.2.rar"
          >BKST + LapTool English (v1.2)</a
        >
        — Translated LapTool, by Lutepin.
      </p>

      <p>
        <a href="http://www.kazamit.com/index.php?p=5">Kazami Timer</a>
        — Lightweight Japanese timer program.
      </p>

      <p>
        <a href="http://www.w00ty.com/sda/timer/">w00ty SDA Timer</a> — bmn's
        browser-based timer with real-time, NTSC, and PAL.
      </p>
      <p>
        <a href="http://play.google.com/store/apps/details?id=com.msplit"
          >Msplit</a
        >
        — Mobile timer for Android.
      </p>
    </div>
  </div>
</div>
