<div [formGroup]="eventForm" class="container text-center">
  <div class="text-center">
    <h1>Create {{ type }}</h1>
  </div>
  <div>
    <div>
      Specificity :<input
        formControlName="specificity"
        type="text"
        class="form-control"
        id="specificity"
        placeholder="Specificity"
        required
      />
      <div class="invalid-feedback" style="width: 100%">
        Your specificity is required.
      </div>
    </div>
    <div>
      Description :
      <input
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
        placeholder="Description"
        required
      />
      <div class="invalid-feedback" style="width: 100%">
        Your username is required.
      </div>
    </div>
    <div>
      Conditions :
      <input
        formControlName="conditions"
        type="text"
        class="form-control"
        id="conditions"
        placeholder="Conditions"
        required
      />
      <div class="invalid-feedback" style="width: 100%">
        Your username is required.
      </div>
    </div>
    <div>
      <button
        [disabled]="eventForm.invalid"
        (click)="createEvent()"
        type="submit"
        class="btn btn-secondary"
      >
        Créer
      </button>
      <button (click)="dismiss()" type="submit" class="btn btn-secondary">
        Annuler
      </button>
    </div>
  </div>
</div>
