<div [formGroup]="eventForm" class="container createEvent">
  <div>
    <h1 class="text-center">Create {{ type }}</h1>
  </div>
  <div>
    <div>
      <h4>Specificity :</h4>
      <input
        formControlName="specificity"
        type="text"
        class="form-control"
        id="specificity"
        required
      />
      <div class="invalid-feedback" style="width: 100%">
        Your specificity is required.
      </div>
    </div>
    <div>
      <h4>Description :</h4>
      <textarea
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
        required
        aria-label="With textarea"
      ></textarea>
      <div class="invalid-feedback" style="width: 100%">
        Your username is required.
      </div>
    </div>
    <div>
      <h4>Conditions :</h4>
      <input
        formControlName="conditions"
        type="text"
        class="form-control"
        id="conditions"
        required
      />
      <div class="invalid-feedback" style="width: 100%">
        Your username is required.
      </div>
    </div>
    <div>
      <button (click)="dismiss()" type="submit" class="btn btn-danger">
        Cancel
      </button>
      <button
        [disabled]="eventForm.invalid"
        (click)="createEvent()"
        type="submit"
        class="btn btn-primary"
      >
        Create
      </button>
    </div>
  </div>
</div>
