h1 {
  color: white;
  -webkit-text-stroke: 1px black; /* width and color */
  font-weight: bolder;
}

.card {
  width: 300px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-table;
}

hr {
  width: 1000px;
  color: black;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}
