<div id="title" class="text-center" *ngIf="displayTournament">
  <h1>
    Tournaments
    <i class="fa fa-caret-down event-show" (click)="showTournaments()"></i>
  </h1>
</div>
<div id="title" class="text-center" *ngIf="!displayTournament">
  <h1>
    Tournaments
    <i class="fa fa-caret-up event-show" (click)="showTournaments()"></i>
  </h1>
</div>

<div class="container-fluid" *ngIf="displayTournament">
  <div class="text-center" style="font-size: 50px">
    <button class="logo" (click)="open('tournament')" ngDoCheck>Create</button>
  </div>
  <div
    class="card bg-dark mb-4"
    *ngFor="let tournament of tournaments"
    style="color: white"
  >
    <div class="">
      <div id="cardEvent">
        <div class="card-header text-center">Tournoi (nom jeu)</div>
        <div class="card-body ">
          <p class="card-text">Specificity : {{ tournament.specificity }}</p>
          <p class="card-text">Description : {{ tournament.description }}</p>
          <p class="card-text">Conditions : {{ tournament.conditions }}</p>
        </div>
      </div>
      <div class="text-center">
        <button
          *ngIf="currentUser.id != tournament.idUser"
          class="btn btn-success"
          (click)="sendLink(tournament.id, 'tournament')"
        >
          Participate
        </button>
        <button
          *ngIf="currentUser.id === tournament.idUser"
          class="btn btn-secondary"
          disabled
        >
          You already participate in this tournament
        </button>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="text-center" *ngIf="displayChallenge">
  <h1>
    Challenge
    <i class="fa fa-caret-down event-show" (click)="showChallenges()"></i>
  </h1>
</div>
<div class="text-center" *ngIf="!displayChallenge">
  <h1>
    Challenge
    <i class="fa fa-caret-up event-show" (click)="showChallenges()"> </i>
  </h1>
</div>

<div class="container-fluid text-center" *ngIf="displayChallenge">
  <div class="text-center" style="font-size: 50px">
    <button class="logo" (click)="open('challenge')">Create</button>
  </div>
  <div
    class="card bg-dark mb-4"
    *ngFor="let challenge of challenges"
    style="color: white"
  >
    <div id="cardEvent">
      <div class="card-header text-center">Challenge (nom jeu)</div>
      <div class="card-body">
        <p class="card-text">Specificity : {{ challenge.specificity }}</p>
        <p class="card-text">Description : {{ challenge.description }}</p>
        <p class="card-text">Conditions : {{ challenge.conditions }}</p>
      </div>
    </div>
    <button (click)="redirectAdmin()">PAGE ADMIN</button>
    <button
      *ngIf="currentUser.id != challenge.idUser"
      class="btn btn-success"
      (click)="sendLink(challenge.id, 'challenge')"
    >
      Participate {{ challenge.id }}
    </button>
    <button
      *ngIf="currentUser.id === challenge.idUser"
      class="btn btn-secondary"
      disabled
    >
      You already participate in this challenge
    </button>
  </div>
</div>
<!-- "participateChallenge(challenge.id)" -->
