/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/images/img8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html,
body {
  height: 100%;
  width: 100%;
}
