#logo {
  height: 40px;
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: rgba(80, 79, 78, 0.5);
}

.navbar-expand {
  justify-content: space-evenly;
}

.nav-link {
  display: initial;
}
