<ngb-carousel *ngIf="images" id="slide" class="container text-center">
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectChallenge()"
    >
      <img src="../../assets/images/img2.png" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>New Challenge</h3>
      <p>
        Access to the challenge and try your luck to get beautiful rewards.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectEvent()"
    >
      <img src="../../assets/images/img4.png" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Event</h3>
      <p>#gameName# will come soon with challenges and rewards.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectTournament()"
    >
      <img src="../../assets/images/img5.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>KOTS-Tournament</h3>
      <p>Next tournament will come soon.</p>
    </div>
  </ng-template>
</ngb-carousel>
