ngb-carousel {
  width: fit-content;
  outline: none;
}

.img_transform img {
  width: 1000px;
  height: 600px;
  background-position: center;
}

h3 {
  color: white;
  -webkit-text-stroke: 1px black; /* width and color */
  font-weight: bold;
  font-size: 35px;
}

p {
  color: white;
  -webkit-text-stroke: 1px black; /* width and color */
  font-size: 25px;
  font-weight: bold;
}
