<ngb-carousel *ngIf="images" id="slide" class="container text-center">
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectChallenge()"
    >
      <img src="../../assets/images/img2.png" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>Nouveau défi</h3>
      <p>
        Accéder au défi du moment et tentez votre chance pour gagner de
        magnifiques récompenses.
      </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectEvent()"
    >
      <img src="../../assets/images/img4.png" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Évènement</h3>
      <p>#nomJeu# arrivera bientôt avec différents défis et récompenses.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div
      class="picsum-img-wrapper img_transform text-center"
      (click)="redirectTournament()"
    >
      <img src="../../assets/images/img5.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>KOTS-Tournament</h3>
      <p>Prochain tournoi arrive bientôt.</p>
    </div>
  </ng-template>
</ngb-carousel>
