/* h1 {
  color: #343a40;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
}*/

h3 {
  color: #343a40;
  -webkit-text-stroke: 1px white; /* width and color */
  font-size: 30px;
  font-weight: bolder;
}

#form {
  min-width: 400px;
  width: 400px;
  min-height: 580px;
  height: 580px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: rgba(80, 79, 78);
}

label {
  color: white;
  font-size: 25px;
}

h1 {
  color: white;
}
